.projects-section {
  &__btn-list {
    display: flex;
    margin: 25px 0;
    flex-flow: row wrap;
    gap: 15px 10px;
  }

  &__btn-item {
    white-space: pre-wrap;
    border-bottom: 2px solid $green;
    padding: 10px 15px;
    border-radius: 30px;

    &.active {
      white-space: pre-wrap;
      border: 2px solid $green;
      padding: 10px 15px;
      border-radius: 30px;
    }
  }

  &__btn {
    font-size: 20px;
  }

  &__card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;
  }
}
