.write-us-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .light {
    background-color: rgb(255, 255, 255);
  }

  &__content {
    background-color: #000000;
    padding: 10px 25px 25px 25px;

    .light {
      background-color: #ffffff;
    }
  }

  .close-window {
    display: flex;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 15px;

    .lucide-x {
      scale: 1.5;
      transition: stroke 0.2s ease;

      &:hover {
        stroke: $green;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}
