body{
  margin-top: 20vh;
  background-color: #bebebe;
}

.wrapper{
  display: grid;
  place-items: center;
}

.border{
  margin-top: 10px;
  margin-left: 10vh;
  margin-right: 20vh;
  padding: 15px 25px;
  font-size: 32px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  background: linear-gradient(45deg, rgb(172, 172, 172), rgb(46, 46, 46), rgb(105, 105, 105));
  border: 3px solid #494949;
  box-shadow: 0px 0px 1px #494949;
  background-size: 200%;
  transition: .5s;
  /* transition: box-shadow 0.2s; */
}

.border:hover{
  box-shadow: -3px -4px 1px #494949;
  background-position: 100% 0;
}

.input {
  background-color: #afafaf;
  border-radius: 5px;
  height: 27px;
  transition-duration: .3s;
}

.input:hover {
  border-radius: 10px;
  
}

.one {
  width: 85vh;
  place-items: center;
}

.two {
  width: 85vh;
  place-items: center;
}

.three {
  width: 85vh;
}

.four {
  width: 85vh;
}

.five {
  width: 85vh;
}

.border__submit {
  display: inline-block;
  position: relative;
  padding: 3px 9px;
  background-color: #a5eca5;
  color: black;
  font-size: 22px;
  border: 1px solid #40c552;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.border__submit:hover {
  background-color: #40c552;
  border-radius: 8px;
}

.border__reset {
  display: inline-block;
  position: relative;
  padding: 3px 9px;
  background-color: #e08b8b;
  color: black;
  font-size: 22px;
  border: 1px solid #c92f2f;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
}

.border__reset:hover {
  background-color: #c92f2f;
  border-radius: 8px;
}


.border__button-link {
  display: inline-block;
  position: relative;
  padding: 3px 9px;
  background-color: #9dcbda;
  color: rgb(0, 0, 0);
  font-size: 22px;
  border: none;
  border-radius: 4px;
  border: 1px solid #5dc7e7;
  cursor: pointer;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
}

.border__button-link:hover {
  background-color: #5dc7e7;
  border-radius: 8px;
}
