.header {
  background-color: #a19f9f;
  /* margin-bottom: 30px; */
  padding-top: 5px;
  padding-bottom: 9px;
}

/* .nav {
  border: none;
} */

.jakor__button {
  display: inline-block;
  padding: 2px 10px;
  background-color: #a5df1d;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.registration__button {
  display: inline-block;
  padding: 2px 10px;
  background-color: #7fb6c7;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 4px;
  margin-right: 1%;
  /* margin-left: 58%; */
  margin-left: 1030px;
}

.heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-indent: 100px;
  font-size: 28px;
  font-weight: 600;
}

.text-one {
  margin-left: 15px;
  margin-right: 20px;
}

.text-one__lorem1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  text-indent: 30px;
  text-align: justify;
}

table,
thead,
tbody,
tfoot,
tr,
td,
th,
caption {
  border: 2px solid #000;
}

.table_1 {
  margin-left: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.table-1__one--bold {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.text-2 {
  margin-left: 15px;
  margin-right: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 20px;
  text-indent: 30px;
  text-align: justify;
}

.animations-3d {
  padding-left: 50px;
  margin-bottom: 25px;
  margin-top: 25px;
  /* width: 500px; */
}

.animations-3d__cube {
  width: 560px;
  height: 315px;
}

.text-3 {
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 15px;
  margin-right: 20px;
  text-align: justify;
  font-size: 18px;
  text-indent: 30px;
}

.bg-animations {
  margin-left: 30px;
  display:flex;
  margin-top: 25px;
  margin-bottom: 25px;
  /* gap: 30px; */
}

.bg-animations__one {
  /* padding-right: 40px; */
  margin-right: 40px;
  width: 560px;
  height: 315px;
}

.bg-animations__two {
  margin-right: 40px;
  width: 560px;
  height: 315px;
}

.text-4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  margin-left: 15px;
  margin-right: 20px;
  font-size: 18px;
  text-indent: 30px;
  text-align: justify;
}

.logo-anim {
  width: 500px;
  position: relative;
}

.logo-anim__one {
  margin-left: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.text-5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 20px;
  text-indent: 30px;
  text-align: justify;
}

.line {
  height: 2px;
  width: 100%;
  background-color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-email {
  display: inline-block;
  padding: 2px 10px;
  background-color: #a5df1d;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}