.card-servise-desc {
  border: 3px solid #666;
  position: relative;
  padding: 10px 20px 40px 20px;

  &__heading {
    margin-bottom: 35px;
    font-size: calc(23px + 13 * (100vw - 320px) / 1600);
  }

  &__text {
    display: -webkit-box; /* Використовуємо флексоподібну модель у WebKit */
    -webkit-box-orient: vertical; /* Орієнтуємо "блоки" вертикально */

    -webkit-line-clamp: 4; /* Вказуємо, що має бути максимум 4 рядки */
    line-clamp: 4; // непотрібний стиль, який робить так щоб не було помилки у попередньому рядку

    overflow: hidden; /* Ховаємо текст, який не вміщується */
    text-overflow: ellipsis;

    font-size: 18px;
    line-height: 1.2;
  }
}
