.section-contact {
  display: flex;
  justify-content: center;
  align-items: center;

  .video {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 50px auto 150px;

    &__heading {
      font-size: 45px;
      margin-bottom: 10px;
      white-space: wrap;
      text-align: center;
    }

    &__text {
      margin: 20px 20px;
    }

    &__address {
      letter-spacing: 3px;
      transition: color 0.2s ease;
      font-weight: bold;

      &:hover {
        color: $green;
        cursor: pointer;
      }
    }
  }
}

// ======= Media =======

@media (max-width: 1024px) {
  .section-contact {
    .content {
      margin: auto 50px auto 100px;

      &__heading {
        font-size: 35px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .section-contact {
    flex-direction: column;
    text-align: center;

    .video {
      width: 50%;
      max-width: 600px;
      margin-bottom: 30px;
    }

    .content {
      margin: 0 20px;

      &__heading {
        font-size: 36px;
      }

      &__text {
        margin: 15px 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-contact {
    .content {
      &__heading {
        font-size: 28px;
      }

      &__text {
        font-size: 14px;
      }

      &__address {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  .section-contact {
    .content {
      &__heading {
        font-size: 24px;
      }

      &__text {
        font-size: 12px;
      }

      &__address {
        font-size: 12px;
      }
    }
  }
}