.header {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;

  &__logo {
    max-width: 150px;
    margin-bottom: 20px;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
  }

  &__burger .header__burger-svg {
    .top {
      transform: translate(0px, 0px) rotate(0deg);
      transition: transform 0.3s ease;
    }

    .middle {
      transform-origin: center;
      transform: scaleX(1);
      transition: transform 0.3s ease-in-out;
    }

    .bottom {
      transform: translate(0px, 0px) rotate(0deg);

      transition: transform 0.3s ease;
    }
  }

  &__burger.open .header__burger-svg {
    .top {
      transform: translate(8px, -1px) rotate(45deg);
      transition: transform 0.3s ease;
    }

    .middle {
      transform: scaleX(0);
    }

    .bottom {
      transform: translate(-9px, 8px) rotate(-45deg);
      transition: transform 0.3s ease;
    }
  }

  &__instagram-icon {
    display: flex;

    margin: auto auto 40px;
    width: 25px;
    height: 25px;
  }
}
