.about-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 30px;
    padding: 60px;
    border: 6px solid white;
    background-size: cover;
    background-position: center;
    filter: brightness(60%);

    .container{
        padding: 20px;
        display: block;    

        &__title{
            font-size: 50px;
            font-weight: 600;
            padding: 30px;
        }           

        &__desc{
            font-size: 28px;
            padding: 30px;
            margin-bottom: 30px;
        }
    }

    .items{
        padding: 30px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        gap: 50px;
        margin-right: 50px;

        &__row{
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        &__number{
            font-size: 90px;
            font-weight: 800;
        }

        &__text{
            font-size: 28px;
        }
    }
}