.section-our-clients {
  display: grid;

  grid-template-columns: repeat(auto-fit, 200px);
  gap: 40px;
  padding: 0px 100px;
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  .img {
    filter: invert(1);
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
}
