.heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  font-size: 20px;

  // &__phone {
  //   color: $green;
  //   font-weight: 700;
  //   letter-spacing: 3px;
  // }

  &__write-us {
    background-color: $green;
    padding: 10px 20px;
  }
}
