.section-projects-filter {
  &__btn-list {
    display: flex;
    margin: 25px 0;
    flex-flow: row wrap;
    gap: 15px 10px;
  }

  &__btn-item {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    border-left: 2px solid $green;
    border-right: 2px solid $green;
    padding: 11px 15px;
    border-radius: 30px;
    height: 42px;

    &.active {
      white-space: pre-wrap;
      border: 2px solid $green;
      border-radius: 30px;
    }

    @media (max-width: 830px) {
      padding: 9px 10px;
    }
  }

  &__btn {
    font-size: 20px;
    white-space: nowrap;

    @media (max-width: 830px) {
      font-size: 17px;
    }
  }
}
