.icon-viber {
  &:hover {
    .icon-viber__background {
      scale: 1;
      transform-box: fill-box;
      transform-origin: center;
    }
  }

  .icon-viber__background {
    scale: 0;
    transform-box: fill-box;
    transform-origin: center;
    transition: scale 0.2s ease;
  }

  @media (max-width: 400px) {
    width: 45px;
    height: 45px;
  }
}
