.header {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;

  &__logo {
    margin: 20px 0 40px 0;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    margin: auto 38px auto auto;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    scale: 1.4;
  }

  &__burger .header__burger-svg {
    .top {
      transform: translate(0px, 0px) rotate(0deg);
      transition: transform 0.3s ease;
    }

    .middle {
      transform-origin: center;
      transform: scaleX(1);
      transition: transform 0.3s ease-in-out;
    }

    .bottom {
      transform: translate(0px, 0px) rotate(0deg);

      transition: transform 0.3s ease;
    }
  }

  &__burger.open .header__burger-svg {
    .top {
      transform: translate(8px, -1px) rotate(45deg);
      transition: transform 0.3s ease;
    }

    .middle {
      transform: scaleX(0);
    }

    .bottom {
      transform: translate(-9px, 8px) rotate(-45deg);
      transition: transform 0.3s ease;
    }
  }

  &__instagram-icon {
    display: flex;

    margin: 0 auto 40px;
    width: 30px;
    height: 30px;

    border-radius: 8px;
    align-items: center;
    justify-content: center;

    --s: 30px;
    --b: 4px;
    /* the border thickness*/
    --g: 4px;
    /* the gap */
    --c: #727272;
    /* the color */

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s) / 2) solid rgba(255, 255, 255, 0);
    outline-offset: calc(var(--s) / -2);
    overflow: hidden;
    cursor: pointer;
    transition: outline 0.3s ease, outline-offset 0.3s ease;

    &:hover {
      outline: var(--b) solid var(--c);
      outline-offset: var(--g);
    }
  }
}
